examples/notebooks/notebooks-py/data/MNIST/raw/t10k-images-idx3-ubyte
examples/notebooks/notebooks-py/data/MNIST/raw/t10k-images-idx3-ubyte.gz
examples/notebooks/notebooks-py/data/MNIST/raw/t10k-labels-idx1-ubyte
examples/notebooks/notebooks-py/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
examples/notebooks/notebooks-py/data/MNIST/raw/train-images-idx3-ubyte
examples/notebooks/notebooks-py/data/MNIST/raw/train-images-idx3-ubyte.gz
examples/notebooks/notebooks-py/data/MNIST/raw/train-labels-idx1-ubyte
examples/notebooks/notebooks-py/data/MNIST/raw/train-labels-idx1-ubyte.gz
examples/notebooks/notebooks-py/gifs/
outputs/
.pytest_cache/
s4mer.egg.info/
.vscode/
.DS_Store
**/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/